<link href="/static/add_expense/style.css" rel="stylesheet">
{% extends 'finance/base_generic.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-start mt-5">
    <div class="card p-4" style="max-width: 600px; width: 100%;">
        <h2 class="text-center mb-4">Add Expense</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3 row">
                <label for="id_category" class="col-sm-4 col-form-label">Category:</label>
                <div class="col-sm-8">
                    {{ form.category }}
                </div>
            </div>
            <div class="mb-3 row">
                <label for="id_amount" class="col-sm-4 col-form-label">Amount (VND):</label>
                <div class="col-sm-8">
                    {{ form.amount }}
                </div>
            </div>
            <div class="mb-3 row">
                <label for="id_date" class="col-sm-4 col-form-label">Date:</label>
                <div class="col-sm-8">
                    {{ form.date }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary w-100">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}    

